-
    var my_pages = [
        {
            link:'portfolio.html',
            title:'Мои работы'
        },
        {
            link:'about.html',
            title:'Обо мне'
        },
        {
            link:'blog.html',
            title:'Блог'
        },
        {
            link:'index.html',
            title:'Авторизация'
        }

    ]

.hamburger#toggle
    svg.hamburger-button(viewBox="0 0 800 600")
        path(d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
        id="top" stroke="white" stroke-width="3" fill="none")
        path(d="M300,320 L540,320" id="middle" stroke="white" stroke-width="3")
        path(d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
        id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318)"
        stroke="white" stroke-width="3" fill="none")



.overlay#overlay
    nav.overlay-menu
        ul.menu__list
            each page in my_pages
                li.menu__list__item
                    a(href=page.link class='menu__list__link') #{page.title}
